<footer class="footer">

    <div class="wrapper">

      <ul class="sitemap">
            <li>
                <a href="http://montage.org/gallery/" class="sitemap-main">Gallery</a>
            </li>
            <!-- <li>
                <a href="http://montage.org/product/" class="sitemap-main">Product</a>
                <a href="{{site.baseurl}}/montage-studio/ide-at-a-glance.html">Overview</a>
                <a href="{{site.baseurl}}/montage-studio/tutorial-simple-to-do.html">Quick Start</a>
                <a href="{{site.baseurl}}/montage-studio/faq.html">FAQ</a>
            </li> -->
            <li>
                <a href="http://montage.org/montagejs" class="sitemap-main">Open Source</a>
                <a href="{{site.baseurl}}/montagejs/">Docs</a>
                <a href="{{site.baseurl}}/montagejs/montagejs-setup.html">Quick Start</a>
                <a href="{{site.baseurl}}/montagejs/montagejs-examples.html">Examples</a>
                <a href="{{site.baseurl}}/api/AbstractButton.html">API</a>
                <a href="{{site.baseurl}}/montagejs/faq.html">FAQ</a>
            </li>
            <li>
                <!-- <a href="http://montage.org/community" class="sitemap-main">Community</a> -->
                <!-- <a href="http://forum.montage.org/">Forum</a> -->
                <!-- <a href="http://montage.org/blog/events/">Events</a> -->
                <a href="https://gitter.im/montagejs" target="_blank">Gitter</a>
            </li>
            <!-- <li>
                <a href="http://montage.org/blog/" class="sitemap-main">Blog</a>
            </li> -->
            <li>
                <a href="https://en.wikipedia.org/wiki/MontageJS">History</a>
                <!-- <a href="http://montage.org/press/">Press</a> -->
                <!-- <a href="http://montage.org/contact-us/">Contact us</a> -->
            </li>
      </ul>

        <a href="http://montage.org/" class="footer-logo"></a>

      <p class="footer-end">2010–2018 Motorola, Montage Studio, Pacific Disaster Center, Kaazing</p>
    </div>

    </footer>

