<header class="header">
    <div class="header-container">
        <a class="logo" href="http://montage.org/">Home</a>

        <input id="nav-toggle" class="nav-toggle nav-toggle--main" type="checkbox">
        <label class="nav-toggleLabel nav-toggleLabel--main" for="nav-toggle" onclick></label>

        <nav class="nav">
            <a class="nav-item" href="http://montage.org/gallery">Gallery</a>
            <a class="nav-item" href="http://montage.org/product">Product</a>
            <a class="nav-item" href="http://montage.org/montagejs">Open Source</a>
            <a class="nav-item" href="http://montage.org/community">Community</a>
            <a class="nav-item" href="http://montage.org/blog">Blog</a>
            <a class="nav-item" href="http://montage.org/company">Company</a>
            <a class="nav-item nav-item--teaser"
               href="http://montage.org/reveal">Join our BETA</a>
        </nav>
    </div>
</header>

